header
    height: 670px
    background-color: #636363
    position: relative
    .navbar
        padding: 33px 0;
        background-color: transparent;
        border: 0
        border-radius: 0
        position: fixed
        width: 100%
        .navbar-brand
            margin: 0
        .nav
            margin-top: 5px
            float: right
            li 
                a
                    color: #a5a5a5;
                    font-family: arial
                    font-size: 15px
                    text-transform: uppercase
    .logo-light,
    .logo-dark
        img
            width: 82px
            height: 32px
    .logo-dark
        display: none
    .fixed
        z-index: 1000
        margin: 0
        background-color: #fff
        transition: background-color 0.5s ease
    .banner
        position: absolute
        top: 30%
        left: 22%
        text-align: center
        p
            color: #fff
            font-family: "Work Sans"
            font-size: 14px
            font-weight: 700
            text-transform: uppercase;
            text-align: center
        h2,
        span
            color: #fff;
            font-family: "Playfair Display";
            font-size: 48px
            line-height: 60px
            font-weight: 700
        h2
            margin-bottom: 148px
        span 
            font-weight: 400
            font-style: italic
        .header-down-btn
            background-color: transparent
            border: 0
main
    .about
        height: 365px
        text-align: center
        .discription
            margin-top: 95px
            h2
                color: #171717;
                font-family: "Playfair Display";
                font-size: 38px;
                font-weight: 700;
                line-height: 60px;
            p
                width: 750px
                display: inline-block
                color: #5f5f5f;
                font-family: "Work Sans";
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
    .donelist
        height: 258px
        background-image: url('../img/donelist-bg.png')
        .list
            margin-top: 121px
            p 
                padding-left: 50px
                color: #fff;
                font-family: "Work Sans";
                font-size: 14px;
                font-weight: 500;
                line-height: 30px;
                text-transform: uppercase;
        .portfolio,
        .time,
        .feedback,
        .likes
            position: relative
            &:before
                content: "";
                position: absolute
                left: 0
                bottom: 10px
                width: 40px
                height: 40px
                background-repeat: no-repeat;
        .portfolio
            &:before
                background-image: url('../img/donelist-portfolio.png') 
        .time
            &:before
                background-image: url('../img/donelist-clock.png') 
        .feedback
            &:before
                background-image: url('../img/donelist-star.png') 
        .likes
            &:before
                background-image: url('../img/donelist-like.png') 

    .projects
        .project-title
            margin-bottom: 57px
            text-align: center
            h2
                color: #171717
                font-family: "Playfair Display"
                font-size: 38px
                font-weight: 700
                line-height: 60px
            p
                width: 750px
                display: inline-block
                color: #5f5f5f
                font-family: "Work Sans"
                font-size: 15px
                font-weight: 400
                line-height: 24px
        .pic
            margin-bottom: 30px
            height: 250px
            background-color: #d9d9d9
        .big
        
            height: 530px
        .commercial
            padding-top: 60px
            background-color: #fff
            text-align: center
            h4
                margin: 0
                color: #171717
                font-family: "Playfair Display"
                font-size: 24px
                font-weight: 700
                line-height: 84px
            p
                color: #171717;
                font-family: "Work Sans"
                font-size: 14px
                font-weight: 500
                line-height: 24px
                text-transform: uppercase
    .testimonials
        position: relative
        height: 500px
        background-image: url('../img/bg-pattern.jpg')
        p
            text-align: center
        .blaquote
            margin-top: 230px
            color: #fff
            font-family: "Playfair Display"
            font-weight: 
            font-style: italic
            line-height: 36px
            font-size: 30px
        .author
            color: #fff
            font-family: "Work Sans"
            font-size: 14px
            font-weight: 500
            line-height: 36px
            text-transform: uppercase
         