header
    height: 670px
    background-color: #636363
    .navbar
        margin-top: 20px
        background-color: transparent;
        border: 0
        position: fixed
        .navbar-brand
            margin: 0
        .nav
            margin-top: 5px
            float: right
            li 
                a
                    color: #a5a5a5;
                    font-family: arial
                    font-size: 15px
                    text-transform: uppercase
    img
        width: 82px
        height: 32px