main
    .toggle-btn
        margin-top: 150px
        text-align: center
        img
            cursor: pointer
    .portfolio-nav
        height: 0
        position: relative
        overflow: hidden
        li
            top: -100px
            transition: top 1s ease
            position: absolute
            &:nth-child(1)
                left: 32%
            &:nth-child(2)
                left: 36%
            &:nth-child(3)
                left: 44%
            &:nth-child(4)
                left: 49%
            &:nth-child(5)
                left: 59%
            &:nth-child(6)
                left: 65%
            @media (max-width:1110px)
                &:nth-child(5)
                    left: 60%
                &:nth-child(6)
                    left: 66%
            @media (max-width:991px)
                &:nth-child(1)
                    left: 20%
                &:nth-child(2)
                    left: 27%
                &:nth-child(3)
                    left: 39%
                &:nth-child(4)
                    left: 47%
                &:nth-child(5)
                    left: 62%
                &:nth-child(6)
                    left: 72%
            @media (max-width:749px)
                &:nth-child(1)
                    left: 2%
                &:nth-child(2)
                    left: 14%
                &:nth-child(3)
                    left: 33%
                &:nth-child(4)
                    left: 48%
                &:nth-child(5)
                    left: 72%
                &:nth-child(6)
                    left: 85%
            a
                font-family: "Work Sans"
                font-size: 14px
                font-weight: 400
                line-height: 84px
                text-transform: uppercase
                color: #5f5f5f
                @media (max-width:500px)
                    font-size: 10px
                    font-weight: 600
    .portfolio-nav-invisiable
        height: 50px
    .blog-nav
        li
            &:nth-child(1)
                left: 30%
            &:nth-child(2)
                left: 38%
            &:nth-child(3)
                left: 47%
            &:nth-child(4)
                left: 56%
            &:nth-child(5)
                left: 68%
            @media (max-width:800px)
                &:nth-child(1)
                    left: 20%
                &:nth-child(2)
                    left: 33%
                &:nth-child(3)
                    left: 46%
                &:nth-child(4)
                    left: 58%
                &:nth-child(5)
                    left: 74%
            @media (max-width:520px)
                &:nth-child(1)
                    left: 5%
                &:nth-child(2)
                    left: 20%
                &:nth-child(3)
                    left: 40%
                &:nth-child(4)
                    left: 58%
                &:nth-child(5)
                    left: 82%
    .works
        padding: 50px 0 100px 0
        ul
            li
                height: 390px
                display: inline-block
                background-color: #e5e5e5
                &:nth-child(even)
                    background-color: #c7c7c7
                &:nth-child(5)
                    background-color: #2c2c2c
    .more-works
        background-color: #fff
        p
            height: 100px
            text-align: center
            a
                color: #1d1d1d
                font-family: "Work Sans"
                font-size: 14px
                font-weight: 500
                line-height: 100px
                text-transform: uppercase