main
    .works
        padding: 150px 0 100px 0
        ul
            li
                height: 390px
                display: inline-block
                background-color: #e5e5e5
                &:nth-child(even)
                    background-color: #c7c7c7
                &:nth-child(5)
                    background-color: #2c2c2c
    .more-works
        background-color: #fff
        p
            height: 100px
            text-align: center
            a
                color: #1d1d1d
                font-family: "Work Sans"
                font-size: 14px
                font-weight: 500
                line-height: 100px
                text-transform: uppercase